body
{
    text-align: center;
    font-family: "Tahoma";
    color: deeppink;
    font-size: xx-large;
    font-weight: 900;
    background-color: darkgray;
}
#cabecera
{
    padding: 0 0 0 1em;
    font-weight: 100;
    font-size:xx-large;
    color: darkblue;
}

#container
{
    box-shadow: inset;
}